---
Checks:  '-*,
         bugprone-argument-comment,
         bugprone-assert-side-effect,
         bugprone-dangling-handle,
         bugprone-inaccurate-erase,
         bugprone-string-constructor,
         bugprone-string-integer-assignment,
         bugprone-unused-raii,
         bugprone-use-after-move,
         google-build-explicit-make-pair,
         google-explicit-constructor,
         modernize-avoid-bind,
         modernize-make-shared,
         modernize-make-unique,
         modernize-replace-random-shuffle,
         modernize-shrink-to-fit,
         modernize-use-bool-literals,
         modernize-use-equals-default
         modernize-use-equals-delete,
         modernize-use-noexcept,
         modernize-use-nullptr,
         modernize-use-override,
         modernize-use-transparent-functors,
         performance-inefficient-string-concatenation,
         readability-identifier-naming,
         readability-redundant-member-init,
         '
CheckOptions:
  - { key: readability-identifier-naming.PrivateMemberSuffix,    value: _          }
  - { key: readability-identifier-naming.PrivateMemberCase,      value: lower_case }
  - { key: readability-identifier-naming.PrivateMethodSuffix,    value: ""         }
  - { key: readability-identifier-naming.PrivateMethodCase,      value: lower_case }
  - { key: readability-identifier-naming.PublicMethodSuffix,     value: ""         }
  - { key: readability-identifier-naming.PublicMethodCase,       value: lower_case }
  - { key: readability-identifier-naming.PublicMemberSuffix,     value: ""         }
...
