---
Checks:  '-*,
         bugprone-argument-comment,
         bugprone-assert-side-effect,
         bugprone-dangling-handle,
         bugprone-inaccurate-erase,
         bugprone-string-constructor,
         bugprone-string-integer-assignment,
         bugprone-unused-raii,
         bugprone-use-after-move,
         modernize-use-override,
         performance-inefficient-string-concatenation,
         readability-identifier-naming'
CheckOptions:
  - { key: readability-identifier-naming.PrivateMemberSuffix,    value: _          }
  - { key: readability-identifier-naming.PrivateMemberCase,      value: lower_case }
  - { key: readability-identifier-naming.PrivateMethodSuffix,    value: ""         }
  - { key: readability-identifier-naming.PrivateMethodCase,      value: lower_case }
  - { key: readability-identifier-naming.PublicMethodSuffix,     value: ""         }
  - { key: readability-identifier-naming.PublicMethodCase,       value: lower_case }
  - { key: readability-identifier-naming.PublicMemberSuffix,     value: ""         }
...
