Checks: '-*,readability-identifier-naming,modernize-use-override'
CheckOptions:
  - { key: readability-identifier-naming.PrivateMemberSuffix,    value: _          }
  - { key: readability-identifier-naming.PrivateMemberCase,      value: lower_case }
  - { key: readability-identifier-naming.PrivateMethodSuffix,    value: ""         }
  - { key: readability-identifier-naming.PrivateMethodCase,      value: lower_case }
  - { key: readability-identifier-naming.PublicMethodSuffix,     value: ""         }
  - { key: readability-identifier-naming.PublicMethodCase,       value: lower_case }
  - { key: readability-identifier-naming.PublicMemberSuffix,     value: ""         }
...
