*.swp
*.swo
/.vs
/.*_localrc
/tags
/Debug
*.sdf
/x64
*.VC.opendb
*.TMP
/Tinge/x64
/Tinge/Debug
/output
*.psess
*.vsp
/src/x64
*.aux
*.pdf
*.log
*.toc
*.synctex.gz
*.out
.idea
*.pyc
.DS_Store
CMakeFiles/
cmake_install.cmake
CMakeCache.txt
FindNumpyPath.py
runtimes/Taichi.pyd
runtimes/tmp*
runtimes/task*
runtimes/*.exe
runtimes/*.dll
runtimes/Release
runtimes/Debug
runtimes/RelWithDebInfo
runtimes/*.png
runtimes/taichi_python*
runtimes/libtaichi_python*
.pypirc
dist/
python/MANIFEST
build/
build_clang_tidy/
bin/
tmp/
cmake-build-*
modules.txt
/external/lib
__pycache__
/outputs
/benchmarks/output
/benchmarks/baseline
*.ppm
*.png
*.jpg
!docs/**/*.jpg
!docs/**/*.png
!tests/python/expected/*.png
*.egg-info
.tlang_cache
/taichi/common/version.h
/taichi/common/commit_hash.h
/python/test_env
/CHANGELOG.md
/.coverage
/coverage.xml
/htmlcov
libpython_path.txt
.vscode
_build
*.bin
*.gif
*.mp4
*.dat
*.ptx
*.ll
*.bc
*.yml
!.github/**/*.yml
*.dot
*.json
!tests/**/*.json
!docs/**/*.json
imgui.ini
/venv/
/_skbuild/
.cache
.do-not-clean
