[submodule "assets"]
	path = assets
	url = https://github.com/yuanming-hu/taichi_assets
	shallow = true
[submodule "external/spdlog"]
	path = external/spdlog
	url = https://github.com/gabime/spdlog
	shallow = true
[submodule "external/glfw"]
	path = external/glfw
	url = https://github.com/taichi-dev/glfw
	shallow = true
[submodule "external/glad"]
	path = external/glad
	url = https://github.com/taichi-dev/taichi_glad_ready
	shallow = true
