*.ini
*.zip
*.tcb
*.tcbz
taichi.h
tmp
saxpy
results
tmp*
data
output*
.DS_Store
*.pdf
images
particles
ms_output
_tlang_cache
__pycache__
*.bin
mpm_rendered
layout*
blocks
*.vdb
*.log
*.png
*_rendered*
