include MANIFEST.in
include python/*.txt
include python/*.py
include *.cfg
include python/taichi/*.md
include python/taichi/assets/*
recursive-include python/taichi/examples *.py
include python/taichi/lib/core/*.so
include python/taichi/lib/runtime/*.pyd
include python/taichi/lib/runtime/*.bc
include python/taichi/lib/runtime/*.dylib
include python/taichi/shaders/*.spv
include python/taichi/shaders/*.vert
include python/taichi/shaders/*.frag

global-exclude *.pyc *.pyo
global-exclude ffmpeg
