include python/taichi/*.md
recursive-include python/taichi/assets *
recursive-include python/taichi/examples *.py
include python/taichi/examples/autodiff/diff_sph/fc1_pretrained.pkl
include python/taichi/examples/autodiff/diff_sph/fc2_pretrained.pkl
include python/taichi/_lib/core/*.so
include python/taichi/_lib/core/*.pyd
include python/taichi/_lib/runtime/*.bc
include python/taichi/_lib/runtime/*.dylib
include python/taichi/shaders/*.spv
include python/taichi/shaders/*.vert
include python/taichi/shaders/*.frag

global-exclude *.pyc *.pyo
global-exclude ffmpeg
