Pillow
pytest
git+https://github.com/taichi-dev/pytest-xdist@a3b5ad3038#egg=pytest-xdist
pytest-rerunfailures
pytest-cov
numpy
psutil
autograd
requests
matplotlib
cffi
scipy
setproctitle
nbmake
marko
PyYAML
pyevtk
wget
