Pillow
pytest
git+https://github.com/taichi-dev/pytest-xdist@e3e1ccf517#egg=pytest-xdist
pytest-rerunfailures
pytest-cov
numpy
psutil
autograd
requests==2.26
matplotlib
cffi
scipy
setproctitle
nbmake
marko
ipython>=8.10.0 # not directly required, pinned by Snyk to avoid a vulnerability
