Pillow
pytest
pytest-xdist
git+https://github.com/taichi-dev/pytest-xdist@c686d0dd#egg=pytest-xdist
pytest-rerunfailures
pytest-cov
numpy
psutil
autograd
requests==2.26
matplotlib
cffi
scipy
setproctitle
