cmake
colorama
coverage
Pillow
pybind11
GitPython
yapf
distro
sourceinspect
isort
pylint
requests==2.26
twine
wheel
astunparse
pre-commit
scikit-build
numpy
ninja; platform_system != 'Windows'
setuptools>=65.5.1 # not directly required, pinned by Snyk to avoid a vulnerability
