.DS_Store
/external/asio
*.swp
*.swo
/.vs
/Debug
*.sdf
/x64
*.VC.opendb
*.TMP
/output
*.psess
*.vsp
/src/x64
*.aux
*.pdf
*.log
*.toc
*.synctex.gz
*.out
.idea
*.pyc
.DS_Store
CMakeFiles/
Makefile
cmake_install.cmake
CMakeCache.txt
runtimes/Taichi.pyd
runtimes/tmp*
runtimes/task*
runtimes/*.exe
runtimes/Release
runtimes/RelWithDebInfo
runtimes/*.png
runtimes/taichi_core*
runtimes/libtaichi_core*
.pypirc
build/
tmp/
cmake-build-debug
cmake-build-release
research
