div .highlight {
    background-color: #F8F8FF;
}

.docutils.literal.notranslate > span {
    color: #323242;
}

code.docutils.literal.notranslate {
    border-style: none !important;
    background-color: #EEEEEE !important;
}
