name: Persubmit Checks
on:
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  build_and_test:
    name: Build and Test
    if: ${{ !contains(github.event.pull_request.labels.*.name, 'skip ci') && github.event.sender.login != 'taichi-gardener' }}
    strategy:
      matrix:
        os: [ubuntu-latest]
        python: [3.6, 3.7, 3.8]
        with_cc: [OFF]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python }}

      - name: Download Pre-Built LLVM 10.0.0
        run: |
          mkdir taichi-llvm
          cd taichi-llvm
          wget https://github.com/taichi-dev/taichi_assets/releases/download/llvm10/taichi-llvm-10.0.0-linux.zip --waitretry=3 --tries=5
          unzip taichi-llvm-10.0.0-linux.zip

      - name: Build Project
        run: |
          export TAICHI_REPO_DIR=`pwd`
          export PATH=$TAICHI_REPO_DIR/taichi-llvm/bin/:$PATH
          export CXX=clang++
          # GLFW dependencies:
          #export CI_SETUP_CMAKE_ARGS=-DTI_WITH_OPENGL:BOOL=ON
          #sudo apt-get install libx11-dev libxcursor-dev libxi-dev
          #sudo apt-get install libxrandr-dev libxinerama-dev libglvnd-dev
          python misc/ci_setup.py ci
        env:
          CI_SETUP_CMAKE_ARGS: -DTI_WITH_OPENGL:BOOL=OFF -DTI_WITH_CC:BOOL=${{ matrix.with_cc }}

      - name: Functionallity Test
        run: |
          export TAICHI_REPO_DIR=`pwd`
          export PATH=$TAICHI_REPO_DIR/bin:$PATH
          export PATH=$TAICHI_REPO_DIR/taichi-llvm/bin/:$PATH
          export PYTHONPATH=$TAICHI_REPO_DIR/python
          python examples/laplace.py
          ti test -vr2 -t2

  code_format:
    name: Code Format
    runs-on: ubuntu-latest
    if: ${{ !contains(github.event.pull_request.requested_reviewers.*.login, 'taichi-gardener') }}
    steps:
      - uses: actions/checkout@v2
      - name: Check code format
        run: |
          git fetch https://github.com/taichi-dev/taichi.git refs/heads/master
          git reset FETCH_HEAD
          git add .
          git config user.email "taichigardener@gmail.com"
          git config user.name "Taichi Gardener"
          git commit -m "fake squash commit" || true
          git checkout -b _last_squash
          git checkout -b _enforced_format
          git reset FETCH_HEAD
          python3 -m pip install --user yapf gitpython
          python3 misc/format.py
          git add .
          git commit -m "enforce code format" || true
          # exit with 1 if there were differences:
          git diff _last_squash _enforced_format --exit-code

  title_format:
    name: Check PR Title
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: 3.8

      - name: Run PR Title Checker
        run: |
          pip install semver GitPython
          python misc/check_pr_title.py "$PR_TITLE"
        env:
          PR_TITLE: ${{ github.event.pull_request.title }}
