name: Publishing Release
on:
  release:
    # https://docs.github.com/en/free-pro-team@latest/actions/reference/events-that-trigger-workflows#release
    types: [published]

jobs:
  build_and_test_cpu:
    name: Build and Test (macOS only)
    strategy:
      matrix:
        include:
          - os: macos-latest
            python: 3.6
            with_cc: OFF
          - os: macos-latest
            python: 3.7
            with_cc: OFF
          - os: macos-latest
            python: 3.8
            with_cc: OFF
          - os: macos-latest
            python: 3.9
            with_cc: OFF
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python }}

      - name: Download Pre-Built LLVM 10.0.0
        run: |
          python misc/ci_download.py
          mkdir taichi-llvm
          cd taichi-llvm
          unzip ../taichi-llvm.zip
        env:
          CI_PLATFORM: ${{ matrix.os }}

      - name: Build
        run: |
          export TAICHI_REPO_DIR=`pwd`
          export PATH=$TAICHI_REPO_DIR/taichi-llvm/bin/:$PATH
          export CXX=clang++
          python misc/ci_setup.py ci

      - name: Test
        run: |
          export TAICHI_REPO_DIR=`pwd`
          export PATH=$TAICHI_REPO_DIR/bin:$PATH
          export PATH=$TAICHI_REPO_DIR/taichi-llvm/bin/:$PATH
          export PYTHONPATH=$TAICHI_REPO_DIR/python
          python examples/laplace.py
          ti diagnose
          ti test -vr2 -t2

      - name: Create Python Wheel
        run: |
          export TAICHI_REPO_DIR=`pwd`
          export PATH=$TAICHI_REPO_DIR/bin:$PATH
          export PATH=$TAICHI_REPO_DIR/taichi-llvm/bin/:$PATH
          export PYTHONPATH=$TAICHI_REPO_DIR/python
          cd python
          python build.py build

      - name: Archive Wheel Artifacts
        # https://docs.github.com/en/actions/guides/storing-workflow-data-as-artifacts#uploading-build-and-test-artifacts
        uses: actions/upload-artifact@v2
        with:
          # While ${{ github.ref }} does provide the release tag, it is of
          # format `refs/tags/<tag_name>`, which isn't a valid file path.
          name: taichi-py${{ matrix.python }}-${{ matrix.os }}.whl
          path: python/dist/*.whl

      - name: Upload PyPI
        env:
          # https://docs.github.com/en/free-pro-team@latest/actions/reference/encrypted-secrets#using-encrypted-secrets-in-a-workflow
          PYPI_PWD: ${{ secrets.PYPI_PWD }}
        run: |
          export TAICHI_REPO_DIR=`pwd`
          export PATH=$TAICHI_REPO_DIR/bin:$PATH
          export PATH=$TAICHI_REPO_DIR/taichi-llvm/bin/:$PATH
          export PYTHONPATH=$TAICHI_REPO_DIR/python
          cd python
          python build.py try_upload --skip_build && bash <(curl -s https://codecov.io/bash)
