name: Build and Test
on:
  pull_request:
    types: [opened, synchronize, reopened]
  push:
    branches:
      - master
      - rc-*
  schedule:
    - cron: '0 18 * * *'  # For testing the offline cache, GMT 18 == GMT+8 02

concurrency:
  group: ${{ github.event.number || github.run_id }}
  cancel-in-progress: true

env:
  TI_CI: "1"
  TI_SKIP_VERSION_CHECK: 'ON'
  TI_LITE_TEST: ${{ github.event_name == 'pull_request' && ! contains(github.event.pull_request.labels.*.name, 'full-ci') && ! startsWith(github.base_ref, 'rc-') && '1' || '' }}
  TI_TEST_OFFLINE_CACHE: ${{ github.event.schedule == '0 18 * * *' && '1' || '' }}
  CI_IMAGE_VERSION: '202303241150'
  TI_USE_GIT_CACHE: ${{ vars.TI_USE_GIT_CACHE }}

jobs:
  show_environ:
    name: Show Environment Variables
    # Disable this workflow on forks
    if: github.repository_owner == 'taichi-dev'
    runs-on: [self-hosted, Linux]
    steps:
    - name: Environment Variables
      run: env
    - name: Github Object
      run: |
        cat <<'EOF'
        ${{ toJson(github) }}
        EOF

  check_files:
    name: Check files
    # Disable this workflow on forks
    if: github.repository_owner == 'taichi-dev'
    outputs:
      run_job: ${{ steps.check_files.outputs.run_job }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          fetch-depth: '0'

      - name: check modified files
        id: check_files
        run: |
          echo "Concurrency group: ${{ github.event.number || github.run_id }}"
          echo "=============== list modified files ==============="
          git diff --name-only @^

          chore_files=( LICENSE CONTRIBUTING.md README.md netlify.toml )
          chore_dirs=( docs )
          run_job=false

          for file in $(git diff --name-only @^); do
            is_chore=false

            for chore_file in ${chore_files[*]}; do
              [[ ${file} == ${chore_file} ]] && is_chore=true && break
            done

            for chore_dir in ${chore_dirs[*]}; do
              [[ ${file} == ${chore_dir}/* ]] && is_chore=true && break
            done

            if ! ${is_chore}; then
              run_job=true
              break
            fi
          done

          if ${run_job}; then
            echo "run_job=true"  >> $GITHUB_OUTPUT
          else
            echo "run_job=false" >> $GITHUB_OUTPUT
          fi

  build_and_test_cpu_mac:
    name: Build and Test macos (CPU)
    needs: check_files
    timeout-minutes: ${{ github.event.schedule != '0 18 * * *' && 120 || 180 }}
    strategy:
      matrix:
        include:
          - os: macos-10.15
            python: 3.7
            with_cpp_tests: ON
            wanted_archs: 'cpu,vulkan'
    runs-on:
    - self-hosted
    - ${{ matrix.os }}
    env:
      PY: ${{ matrix.python }}
      TAICHI_CMAKE_ARGS: >-
        -DTI_WITH_OPENGL:BOOL=OFF
        -DTI_WITH_VULKAN:BOOL=ON
        -DTI_WITH_C_API=ON
        -DTI_BUILD_TESTS:BOOL=${{ matrix.with_cpp_tests }}
    steps:
      - name: Workaround checkout Needed single revision issue
        run: git submodule foreach 'git rev-parse HEAD > /dev/null 2>&1 || rm -rf $PWD' || true

      - uses: actions/checkout@v3
        with:
          fetch-depth: '0'
          submodules: 'recursive'

      - name: Prepare Environment
        run: |
          . .github/workflows/scripts/common-utils.sh
          prepare-build-cache
        env:
          PLATFORM: 'macos'

      - name: Build & Install
        if: needs.check_files.outputs.run_job == 'true'
        run: |
          # Use the molten-vk v1.1.10 downloaded from taichi assets
          brew uninstall molten-vk -f
          .github/workflows/scripts/build.py
        env:
          CXX: clang++

      # [DEBUG] Copy this step around to enable debugging inside Github Action instances.
      #- name: Setup tmate session
      #  uses: mxschmitt/action-tmate@v3
      #  with:
      #    limit-access-to-actor: true

      - name: Test
        id: test
        if: needs.check_files.outputs.run_job == 'true'
        run: .github/workflows/scripts/unix_test.sh
        env:
          TI_WANTED_ARCHS: ${{ matrix.wanted_archs }}
          TI_SKIP_CPP_TESTS: Disabled because Vulkan is supported but not working on buildbot4

      - name: Save wheel if test failed
        if: failure() && steps.test.conclusion == 'failure'
        uses: actions/upload-artifact@v3
        with:
          name: broken-wheel
          path: dist/*
          retention-days: 7

  build_and_test_m1:
    name: Build and Test (Apple M1)
    needs: check_files
    timeout-minutes: ${{ github.event.schedule != '0 18 * * *' && 60 || 120 }}
    strategy:
      matrix:
        include:
          - os: macos-latest
            python: 3.8
    defaults:
      run:
        # https://github.com/actions/runner/issues/805#issuecomment-844426478
        shell: '/usr/bin/arch -arch arm64e /bin/bash --noprofile --norc -eo pipefail {0}'
    runs-on: [self-hosted, m1]
    env:
      CXX: clang++
      PY: ${{ matrix.python }}
      TAICHI_CMAKE_ARGS: >-
        -DTI_WITH_OPENGL:BOOL=OFF
        -DTI_WITH_CUDA:BOOL=OFF
        -DTI_WITH_VULKAN:BOOL=ON
        -DTI_BUILD_TESTS:BOOL=ON
        -DTI_WITH_C_API=ON
        -DTI_WITH_STATIC_C_API=ON
      TI_WANTED_ARCHS: 'cpu,metal,vulkan'
      PLATFORM: 'm1'
      TI_RUN_RELEASE_TESTS: '1'
    steps:
      - name: Workaround checkout Needed single revision issue
        run: git submodule foreach 'git rev-parse HEAD > /dev/null 2>&1 || rm -rf $PWD' || true

      - uses: actions/checkout@v3
        with:
          fetch-depth: '0'
          submodules: 'recursive'

      - name: Build
        if: ${{ needs.check_files.outputs.run_job != 'false' }}
        run: |
          . .github/workflows/scripts/common-utils.sh
          prepare-build-cache
          brew install molten-vk
          brew install llvm@15
          .github/workflows/scripts/build.py
        env:
          CXX: clang++

      - name: Check C-API Export Symbols
        if: ${{ needs.check_files.outputs.run_job != 'false' }}
        run: |
          . .github/workflows/scripts/common-utils.sh

          .github/workflows/scripts/aot-demo.sh check-c-api-export-symbols

      - name: Test
        id: test
        if: ${{ needs.check_files.outputs.run_job != 'false' }}
        run: |
          .github/workflows/scripts/unix_test.sh

      - name: Save wheel if test failed
        if: failure() && steps.test.conclusion == 'failure'
        uses: actions/upload-artifact@v3
        with:
          name: broken-wheel
          path: dist/*
          retention-days: 7

      - name: Save Bad Captures
        if: failure() && steps.test.conclusion == 'failure'
        uses: actions/upload-artifact@v3
        with:
          name: bad-captures
          path: taichi-release-tests/bad-compare/*
          retention-days: 7
